@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

.header__nav-menu {
    display: flex;

}

.header__nav-menu a {
    text-decoration: none;
    color: black;
}

.header__banner {
    background: url(../img/background.jpg) no-repeat;
    background-attachment: scroll;
    background-position: 65% 35%;
    background-size: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    

}
@media (min-width: 600px) {
    .header__banner {
        min-height: 600px;
    }
}


.header-banner {
    display: flex;
    flex-direction: column;

}

.header__banner-title {
    color: #EFBE65;
    align-items: center;
    font-size: 32px;
    margin-left: 2%;
    margin-bottom: 50px;
}
@media (min-width: 600px) {
    .header__banner-title {
        font-size: 48px;
    }
}
.header__banner-button {
    width: 120px;
    height: 30px;
    background-color: #EFBE65;
    border-style: none;
    border-radius: 3px;
    margin-left: 2%;
}
@media (min-width: 600px) {
    .header__banner-button{
        width: 150px;
        height: 48px;
        font-size: 18px;

    }

}

.services a {
    text-decoration: none;
}
.services div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-start: auto;
    gap: 5px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.services-img {
    width: 115px;
    margin-left: 10px;
    margin-top: 10px;

}

.services-title {
    font-size: 20px;
    font-family: 'Lato';
    color: #000000;
    font-weight: 700;
    text-decoration-line: none;
    margin-left: 25px;
}
.services-h {
    text-align: center;
    font-size: 25px;
    font-family: 'Lato';
    padding-top: 10px;
}
.about-text {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;
    gap: 20px;
}
.text {
    margin-top: 20px;
}
@media (min-width: 600px) {
    .about-text {
        flex-direction: row;
        justify-content: space-around;
    }
}

.about-title {
    color: white;
    font-family: 'Lato';
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #212F36;
}
.about-subtitle {
    text-align: center;
    font-family: 'Lato';
    font-size: 20px;
    margin-top: 10px;

}
.img-about {
    width: 300px;
    height: 400px;
    align-items: center;
}
@media (min-width: 600px) {
    .img-about {
        width: 350px;
        height: 500px;    }
}

.contacts {
    display: flex;
    flex-direction: column;
}
.contacts-title p {
    font-size: 16px;
    

}
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    color: white;
    margin-inline: auto;
    padding-top: 20px;
  }
@media (min-width: 500px) {
    .services div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-start: auto;
        gap: 5px;
    }
}
@media (min-width: 700px) {
    .services div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-start: auto;
        gap: 5px;
    }
}