
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

.header__nav {
    height: 85px;
}
.header-nav__menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10px;
}
@media (min-width: 450px) {
    .header__nav > .header-menu {
        display: flex;
    }
    .header__nav {
        height: 45px;
    }

    .header-nav__menu {
        flex-direction: row;
        flex: 1;
        justify-content: end;
        gap: 20px;
        margin-top: 10px;
        margin-right: 10px;
    }
}
.menu-link {
    text-decoration: none;
    color: #000000;
}
.header__nav-logo img {
    width: 234px;
    height: 45px;
}
a:hover {
    text-decoration: underline;
  }

.header__banner {
    background: url(../img/background-home.jpg) no-repeat;
    background-attachment: scroll;
    background-position: 65% 35%;
    background-size: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


@media (min-width: 450px) {
    .header__banner {
        min-height: 500px;
    }
}
@media (min-width: 1000px) {
    .header__banner {
        min-height: 550px;
    }
}

.header__banner {
    display: flex;
    flex-direction: column;
}
.header-banner{
    margin-left: 20px;
}

.header__banner-title {
    color: #EFBE65;
    font-size: 24px;
    display: flex;
}
span {
    border-block: solid 5px;
    padding: 30px 0px;
    writing-mode: horizontal-tb;
}

@media (min-width: 450px) {
    .header__banner-title {
        font-size: 44px;
    }
}
    @media (min-width:1000px) {
        .header__banner-title {
            font-size: 68px;
        }
    }

.header__banner-button {
    font-size: 16px;
    font-weight: 700;
    width: 110px;
    height: 30px;
    background-color: #EFBE65;
    border-style: none;
    border-radius: 4px;
    margin-top: 10%;
    margin-bottom: 5%;
}
@media (min-width: 450px) {
    .header__banner-button{
        width: 140px;
        height: 35px;
        font-size: 18px;
    }
}
@media (min-width: 1000px) {
    .header__banner-button {
        font-size: 26px;
        width: 230px;
        height: 55px;
        border-radius: 3px;
    }
}
a {
    text-decoration: none;
    color: #000000;
}
.services a {
    text-decoration: none;
    text-align: center;
}
.icon {
    overflow: hidden;
}
.services div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr ));
    gap: 15px;
}

.services-img {
    width: 115px;
    margin-left: 10px;
    margin-top: 20%;
    transition: transform 0.25s;
}
  .icon:hover .services-img {
    transform: scale(1.2);
  }

.services-title {
    font-size: 20px;
    font-family: 'Lato';
    color: #000000;
    font-weight: 700;
    text-decoration-line: none;
    margin-left: 15px;
    margin-bottom: 10%;
}

.services-h {
    text-align: center;
    font-size: 25px;
    font-family: 'Lato';
    margin-top: 20px;
}
@media (min-width: 900px) {
    .services-h {
        font-size: 36px;
    }
}
b {
    border-bottom: 4px solid rgba(239, 190, 101, 1);
    padding: 0 0 7px;
}

.about {
    line-height: 30px;
}
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    font-size: 16px;
    gap: 20px;
    padding: 20px;

}
.text {
    margin-top: 30px;
}
@media (min-width: 600px) {
    .about-text {
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (min-width: 900px) {
    .about-text {
        background: white;
        display: flex;
        justify-content: space-around;
        margin-left: 150px;
        margin-right: 80px;
    }
}

.about-title {
    color: white;
    font-family: 'Lato';
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: rgba(20, 29, 34, 1);
}
.about-subtitle {
    text-align: center;
    font-family: 'Lato';
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width:600px) {
    .about-subtitle {
        font-size: 16px;
        text-align: center;
    }
}
@media (min-width: 1000px){
    .about-subtitle {
        font-size: 18px;
    }
    .about {
        font-size: 18px;
        text-align:justify;
    }
}
.img-about {
    width: 300px;
    height: 400px;
}
@media (min-width: 600px) {
    .img-about {
        width: 350px;
        height: 400px;    
    }
}
@media (min-width: 1000px) {
    .img-about {
        width: 420px;
        height: 500px;
        margin-left: 70px;
        margin-top: 30px;
    }
}
.about-button {
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    background-color: #EFBE65;
    border-style: none;
    border-radius: 4px;
    margin-top: 30px;
}

.our-projects {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.projects-title {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.projects-subtitle {
    display: flex;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.our__projects-text {
    line-height: 30px;
    text-align: center
}

.projects-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.p-button {
    background-color: rgba(239, 190, 101, 1);
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 4px;

}
@media (max-width: 600px ) {
.projects-image_text {
    font-size: 14px;
}
}
.projects-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;

}
.projects-img img {
    width: 120px;
    height: 200px;
}
@media (min-width: 600px) {
    .projects-img img {
        width: 230px;
        height: 350px;
}
}
@media (min-width: 900px) {
    .projects-img img {
        width: 255px;
        height: 395px;
    }
    .projects-title {
        font-size: 36px;
    }
    .projects-subtitle {
    margin-left: 13%;
    font-size: 18px;
    margin-right: 12%;
    text-align: center;
    }
}
.projects-line  {
    padding: 0 0 8px;
}
.choose-us {
    background-color: white;
    min-height: 250px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.choose-title {
    text-align: center;
}
.choose-subtitle {
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}
@media (min-width: 600px) {
    .choose-title {
        font-size: 36px;
    }
    .choose-subtitle {
        font-size: 18px;
    }
}

.contacts-area{
    background-image: url(../img/background-area.jpg);
    background-size: cover;
    min-width: 300px;
    background-position: 65% 35%;
}
@media (min-width: 900px) {
    .contacts-area{
        min-width: 1000px;
        height: 500px;
        background-position: 50% 50%;
    }
}
.area-title {
    color: white;
    text-decoration: underline solid 4px rgba(239, 190, 101, 1);
    padding-top: 40px;
    padding-left: 5%;
}
.area-subtitle {
    color: white;
    padding-left: 5%;
    line-height: 5px;
}

@media (min-width: 900px) {
    .area-title {
        font-size: 40px;
        padding-top: 100px;
    }
    .area-subtitle {
        font-size: 22px;
        line-height: 15px;
}
}

.contact-us {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    block-size: 200px;
    block-size: 5em;
}
@media (min-width: 900px) {
    .contact-us {
        flex-direction: row;
    }
}
li {
    list-style-type: none;
   }

.contacts-us-title {
    margin-top: 5%;
    padding-left: 5%;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .contacts-us-title {
        font-size: 22px;
    }
}

.form {
    width:400px;
    height: 460px;
    background: white;
    border-radius: 8px;
    border: solid #EFBE65;
    padding:20px 30px;
    box-sizing: border-box;
    position: relative;
    margin-left: 12%;
    margin-top: 20px;
    
}
 .form-title {
    margin: 8px 0;
    padding-bottom: 5px;
    width: 130px;
    color: black;
    border-bottom: 2px solid rgba(239, 190, 101, 1);
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline :none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 1px solid black;
}
input:focus {
    border-bottom: 1px solid rgba(239, 190, 101, 1); 
}
p:before { 
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color: black;
}
button {
    font-size: 16px;
    padding: 8px 15px;
    margin: 15px 0 0;
    border: 2px solid rgba(239, 190, 101, 1);
    background: 0;
    color: black;
    cursor: pointer;
    transition: all 0.4s;
  }
  button:hover {
    background: rgba(239, 190, 101, 1);
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .contacts-area, .contact-us {
      float: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 900px) {
    .form {
      width: 80%;
      margin-left: 10%;
    }
    
    .form-title {
      width: 100px;
    }
    
    input {
      padding: 8px;
    }
    
    p:before {
      font-size: 12px;
      margin: 24px 0 0;
    }
    
    button {
      font-size: 14px;
      padding: 6px 12px;
      margin: 12px 0 0;
    }
  }
  .contacts__list {
    margin-top: 10%;
    margin-left: 15%;
  }
  @media (max-width: 450px) {
    .contacts__list {
        margin-top: 15%;
        margin-left: 15%;
      }
  }
  .contacts__list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__list-item a {
    color: black;
  }
  .footer__icon {
    margin-right: 10px;
    color: #ffc123;
    font-size: 23px;
  }
  .contacts__list-item a:hover {
    color: black;
    text-decoration: underline;
  }
  .container {
    block-size: 550px;
  }